@import url("https://fonts.cdnfonts.com/css/product-sans");

:root {
  --primary-main: #4c4ddc;
  --primary-pressed: #21217a;
  --primary-hover: #3334cc;
  --neutral-10: #fff;
  --neutral-30: #ededed;
  --neutral-40: #e0e0e0;
  --neutral-60: #9e9e9e;
  --secondary-main: #f2994a;
  --secondary-surface: #fcebdb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Product Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* DESKTOP NAVBAR */

.desktop-navbar {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-inline: 5%;
  padding: 1rem 2rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  margin-top: 1.3rem;
  border: 1px solid var(--neutral-30);
  z-index: 1;
}

.desktop-navbar > ul {
  display: flex;
  gap: 0.5rem;
  flex: wrap;
}

.desktop-navbar > ul > li > a,
.dropbtn {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.desktop-navbar > ul > li > a:hover,
.dropbtn:hover {
  color: var(--primary-hover);
}

.btn-nav {
  align-items: center;
  display: flex;
  gap: 12px;
}

.btn-nav .login-btn-nav {
  color: #fff;
  background-color: var(--primary-main);
  padding: 6px 16px;
  border-radius: 6px;
  border: 1px solid var(--primary-main);
  font-size: 1.1rem;
}

.login-btn-nav:hover {
  background-color: var(--primary-hover);
}

.btn-nav .signup-btn {
  color: var(--neutral-60);
  border-radius: 6px;
  padding: 6px 16px;
  border: 1px solid var(--neutral-40);
  background: var(--neutral-30);
  font-size: 1.1rem;
}

.signup-btn:hover {
  background-color: var(--primary-hover);
  color: var(--neutral-10);
}

.active-nav {
  font-weight: 700;
  border-bottom: 2px solid var(--primary-main);
}

.profile-nav {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.profile-nav :nth-child(2) {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.profile-wrap,
.service-wrap {
  cursor: pointer;
  position: relative;
}

.profile-dropdown {
  top: 110%;
  right: -20%;
  flex-direction: column;
  position: absolute;
}

.profile-dropdown,
.service-dropdown {
  width: max-content;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--neutral-40);
  opacity: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  background: var(--neutral-10);
}

.service-dropdown {
  position: absolute;
  display: none;
  color: var(--neutral-10);
}

.service-dropdown li:not(:last-child),
.profile-dropdown li:not(:last-child) {
  border-bottom: 1px solid var(--neutral-40);
}

.service-dropdown li a {
  display: block;
  border-radius: 5px;
  padding-block: 0.7rem;
  padding-inline: 0.5rem;
}

.service-dropdown li a:hover {
  color: var(--neutral-10);
  background: var(--primary-hover);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile-dropdown.active {
  display: flex;
  opacity: 1;
  animation: fadein 0.3s;
}

.service-dropdown.active {
  display: block;
  opacity: 1;
  animation: fadein 0.3s;
}

.profile-dropdown li {
  padding: 10px;
  border-radius: 5px;
}

.profile-dropdown li:hover {
  background-color: var(--neutral-40);
}

/* END DESKTOP NAVBAR */

/* HOME PAGE */
.home {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12% 0 5% 0;
  gap: 1.5rem;
}

.home-banner {
  object-fit: cover;
  width: 90%;
  max-width: 75rem;
  max-height: 27rem;
}

.home-heading {
  text-align: center;
}

.home-card-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.home-card {
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.homecard-body {
  padding: 0.5rem 1rem;
}

.find-out-btn {
  margin-block: 1rem;
  font-size: medium;
  font-weight: 700;
  border-radius: 6px;
  background: var(--primary-main);
  color: var(--neutral-10);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.find-out-btn:hover {
  background-color: var(--primary-hover);
}
/* END HOME PAGE */

/* LOGIN PAGE */
.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
}

.form {
  padding: 2rem 4rem;
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form::-webkit-scrollbar {
  display: none;
}

.login {
  justify-content: center;
}

.input {
  padding-inline: 0.5rem;
}

.forgot-pass {
  margin-top: 12px;
}

.pass-toggle {
  width: 1rem;
  height: 1rem;
  margin-left: -1.8rem;
  margin-bottom: 0.2rem;
  display: inline;
  vertical-align: middle;
  cursor: pointer;
  object-fit: cover;
}

.login-heading {
  font-size: 3.5rem;
}

.form-control {
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #d9d9d9;
}

.form label {
  font-weight: bold;
}

.login-btn {
  font-size: 20px;
  border-radius: 6px;
  background: var(--primary-main);
  color: var(--neutral-10);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.login-btn:hover {
  background: var(--primary-hover);
}

.login-banner {
  object-fit: cover;
  width: 55%;
  height: 100vh;
}

.dont-have-account {
  text-align: center;
}

.main-color {
  color: var(--primary-main);
}

/* END LOGIN PAGE */

/* SIGN UP PAGE */
.heading-input {
  font-size: 20px;
}

.signup {
  overflow-y: hidden;
}

.wrap-btn {
  display: flex;
  gap: 0.8rem;
  padding-bottom: 1rem;
}

.car-btn,
.motor-btn {
  font-size: 20px;
  color: var(--neutral-60);
  cursor: pointer;
  padding: 10px;
}

#terms-label {
  font-weight: normal;
  vertical-align: middle;
}

.btn-wrap-signup {
  display: flex;
  gap: 24px;
}

.btn-wrap-signup > *,
.btn-wrap-needlogin :first-child {
  padding: 8px 16px;
  width: 50%;
  border-radius: 6px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.btn-wrap-signup,
.btn-wrap-needlogin :nth-child(1) {
  color: var(--neutral-60);
}

.btn-border-gray {
  border: 1px solid var(--neutral-40);
  background: var(--neutral-30);
}

.btn-wrap-signup :nth-child(2) {
  background-color: var(--primary-main);
  color: var(--neutral-10);
}

input#terms-label {
  accent-color: var(--primary-main);
  width: 1rem;
  height: 1rem;
}
/* END SIGN UP PAGE */

/* SIGN UP SUCCESS */
.signup-success {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  text-align: center;
}

.wrapper img {
  object-fit: cover;
  max-width: 60%;
  height: 80%;
}

.wrapper h2 {
  font-size: 3rem;
  color: var(--primary-main);
}

.text-wrap {
  margin-block: 3rem;
}

.wrapper .login-btn {
  display: inline-block;
  color: var(--neutral-10);
  font-size: 1.25rem;
  width: 18.75rem;
}

/* END SIGN UP SUCCESS */

/* NO NOTIF YET & NEED LOGIN*/
.no-notif,
.need-login {
  justify-content: center;
}

.no-notif-wrap,
.need-login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.need-login-wrap {
  padding-top: 3rem;
}

.no-notif-wrap h2,
.need-login-wrap h2 {
  font-size: 2rem;
  color: var(--primary-main);
}

.btn-wrap-needlogin {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.btn-wrap-needlogin a.back-btn,
a.login-btn {
  padding-inline: 3rem;
  border: 1px solid var(--neutral-40);
}

/* END NO NOTIF YET & NEED LOGIN*/

/* RESET PASSWORD */
.reset-pass {
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

img.resetpass-img {
  width: 30%;
}

.reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.heading-reset,
.home-heading {
  font-size: 2.8rem;
  color: var(--primary-main);
}

.wrap-input {
  display: inline-flex;
  gap: 1rem;
}

.reset-btn {
  font-size: 1.25rem;
  border-radius: 6px;
  background: var(--primary-main);
  color: var(--neutral-10);
  border: none;
  cursor: pointer;
  padding-block: 8px;
  width: 15rem;
}
/* END RESET PASSWORD */

/* RESET SUCCESS */
.reset-success {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-success :last-child {
  margin-top: 1rem;
}
/* END RESET SUCCESS */

/* CARD & CARE PAGE */
.heading-care {
  font-size: 4rem;
  color: var(--primary-main);
}

.motor-care,
.car-care {
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  padding-block: 10%;
  gap: 2rem;
  padding-inline: 5rem;
  overflow-x: hidden;
}

.card-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.card-img {
  width: 100%;
}

.card-item {
  padding-block: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* END CARD & CARE PAGE */

/* NOTIF PAGE */
.notif {
  align-items: center;
  flex-direction: column;
  padding: 10% 0;
}

.notif-heading {
  color: var(--primary-main);
  margin-bottom: 1rem;
  margin-inline: 4rem;
  font-size: 3rem;
}

.wrapper-notif {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #ddd;
  margin-inline: 2rem;
}

.wrapper-notif img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.wrapper-notif :last-child i {
  cursor: pointer;
}

.content-notif {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-block: 1rem;
  padding-right: 2rem;
}

.content-notif :nth-child(2) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.content-notif :nth-child(3) {
  color: #717171;
  font-size: 0.9rem;
}
/* END NOTIF PAGE */

/* MAP */
.map {
  justify-content: center;
  align-items: center;
}
/* END MAP */

/* FOOTER */
footer p,
footer h3,
footer h4,
footer label {
  color: var(--neutral-10);
}

.footer-top {
  background-color: var(--primary-hover);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
  border-radius: 1.5rem 1.5rem 0px 0px;
}

.footer-top form {
  margin-top: 10px;
  display: grid;
  width: 18rem;
}

.subs-input,
.subs-btn {
  width: 100%;
}

.subs-btn {
  padding: 10px 16px;
  color: var(--neutral-10);
  background-color: #21217a;
  border: none;
  border-radius: 5px;
  margin-top: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.subs-btn:hover {
  background: var(--primary-main);
}

.subs-input {
  padding: 1rem 0.5rem;
  border-radius: 5px;
  background: var(--secondary-surface);
  border: 1px solid var(--secondary-main);
  margin-top: 4px;
  font-size: 1rem;
}

.footer-bot {
  background-color: var(--primary-pressed);
  color: var(--neutral-10);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding-block: 1.5rem;
}

.footer-bot :last-child {
  display: flex;
  gap: 3rem;
}

footer ul {
  display: flex;
  flex-direction: column;
}

footer ul h4 {
  margin-top: 10px;
}

footer ul li {
  text-indent: 5px;
}

footer ul li a {
  color: var(--neutral-10);
  transition: all 0.3s;
}
footer ul li a:hover {
  padding-left: 5px;
  border-left: 1px solid var(--neutral-10);
}

/* END FOOTER */

/* MEDIA SCREEN */
@media only screen and (max-width: 768px) {
  .card-wrap {
    grid-template-columns: 1fr;
  }

  .desktop-navbar {
    gap: 1.5rem;
  }

  .section {
    padding-top: 15rem;
  }

  .desktop-navbar {
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .motor-care,
  .car-care {
    padding-inline: 2rem;
    padding-block: 12rem;
  }

  .desktop-navbar > ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .desktop-navbar {
    justify-content: center;
    margin-top: 1rem;
  }

  .section {
    padding-top: 20rem;
  }

  .footer-top {
    justify-content: center;
  }

  footer ul {
    align-items: center;
  }
}

/* END MEDIA SCREEN */
